

@if(isRootNode()){
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
} @else {
  <button mat-menu-item [matMenuTriggerFor]="menu">
    {{ groupId() }}
  </button>
}

<mat-menu #menu="matMenu">
  @for (node of currentData(); track node) {
    <button mat-menu-item style="padding: 0">
      @if (isString(node)) {
        <app-menu
          [groupId]="node"
          [dataMap]="dataMap()"
          [isRootNode]="false"
        ></app-menu>
      } @else {
        <button mat-menu-item>{{ node.displayName }}</button>
      }
    </button>
  }
</mat-menu>
