<mat-menu #menu="matMenu">
  @for (node of nodes(); track node) {
    @if (node.nodeType === 'group') {
      <button mat-menu-item [matMenuTriggerFor]="menuItem.matMenu() ?? null">
        @if (atLeastOneNodeHasIcon()) {
          <mat-icon> {{ node.icon }}</mat-icon>
        }
        {{ node.displayName }}
        <ipl-menu-flyout #menuItem [nodes]="node.nodes" />
      </button>
    } @else if (node.nodeType === 'action') {
      <button mat-menu-item [disabled]="node.disabled" (click)="click($event, node)">
        @if (atLeastOneNodeHasIcon()) {
          <mat-icon> {{ node.icon }}</mat-icon>
        }
        {{ node.displayName }}
      </button>
    }
  }
</mat-menu>
