@if (isRootNode) {
  <button mat-button [matMenuTriggerFor]="menu">
    {{ trigger }}
  </button>
} @else {
  <button
    mat-menu-item
    [matMenuTriggerFor]="menu"
    (menuOpened)="getData(trigger)"
    >
    {{ trigger }}
   </button>
}

<mat-menu #menu="matMenu">
  @for (node of data; track node; let i = $index) {
    <button mat-menu-item style="padding: 0">
      @if (isExpandable(node)) {
        <app-menu
          [trigger]="node"
        ></app-menu>
      } @else {
        <button mat-menu-item>{{ node }}</button>
      }
    </button>
  }
</mat-menu>
