

@if(isRootNode()){
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
} @else {
  <button mat-menu-item>
    {{ groupId() }}
  </button>
}

<mat-menu #menu="matMenu">
  @for (node of currentData(); track node) {
    @if (isString(node)) {
      <button mat-menu-item [matMenuTriggerFor]="appMenu.matMenu() ?? null">
        <!-- <mat-icon>{{node.icon}}</mat-icon> -->
        <app-menu #appMenu
          [groupId]="node"
          [dataMap]="dataMap()"
          [isRootNode]="false"
        ></app-menu>
      </button>
      } @else {
        <button mat-menu-item>
          <mat-icon>{{node.icon}}</mat-icon>
          {{ node.displayName }}
        </button>
      }
  }
</mat-menu>
